<div class="body">
    <div class="bodyBg">
        <div style="display: block; height: .1px"></div>
        <div class="main">
            <h4>您的推荐码</h4>
            <p class="inviteNum">09908t</p>
            <div class="invitePic">
                <img src="../image/invite-bg.png" alt="">
                <p>好友扫描二维码绑定推荐关系</p>
            </div>
        </div>
        <div class="inviteInfo">
            <div class="inviteInfoTop">
                <a>查看详情<span class="right"></span></a> 
            </div>
            <div class="inviteInfoBody">
                <div class="content"><span>10</span><div>推荐人数</div></div>
                <div class="content"><span>10</span><div>推荐人数</div></div>
            </div>
        </div>
    </div>
    <div class="inviteBtn">推荐好友</div>
</div>
