<div class="wrap">
    <div class="alert"></div>
    <div class="translucent">
        <form action="" class="form-input">
            <input class="password-phone" type="text" placeholder="输入手机号">
            <input class="password-phone password" type="text" placeholder="设置密码">
        </form>
        <div class="verification-code">
            <input class="code-text" type="text" placeholder="输入手机验证码">
            <div class="get-code">获取验证码</div>
        </div>
        <div class="invite-code">
            <span class="code-text">邀请码：</span>
            <span class="code-id">XXXXXXSS</span>
        </div>
        <button type="submit" class="submit">提交</button>
    </div>
</div>