<div class="wrap">
    <div class="translucent">
        <form action="" class="form-input">
            <input class="password-phone" type="text" placeholder="输入手机号">
            <input class="password-phone password" type="text" placeholder="设置密码">
        </form>
        <div class="verification-code">
            <input class="code-text" type="text" placeholder="输入手机验证码">
            <div class="get-code">获取验证码</div>
        </div>
        <div class="personal">
            <div class="person-information">
                <div class="Identity">申请身份</div>
                <div class="select-job">
                    <div class="select-job-text">选择身份</div>
                    <img class="select-join-img" src="../image/down.png" alt="">
                </div>
            </div>
        </div>
        <div class="upload">
            <div class="upload-text">上传公司名片</div>
            <div class="js-btn-upload"></div>
        </div>
        <button type="submit" class="submit">提交</button>
        <div class="select-id" style="display: none">
            <div class="inner-id">内部员工</div>
            <div class="manager-id">理财经理</div>
        </div>
    </div>
</div>